@import "../variables";
.Input {
  &.L {
    input {
      font-size: 24pt;
    }
  }

  &.M {
    input {
      font-size: 18pt;
    }
  }

  &.S {
    input {
      font-size: 14pt;
    }
  }

  input {
    outline: none;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.4em;
    box-shadow: $main-shadow;
  }
}
