@import "../variables.scss";

.Button {
  border-radius: 0.4em;
  padding: 0.1rem 1.5rem;
  font-size: $main-font-size;
  font-weight: 900;
  width: 3rem;
  display: flex;
  justify-content: center;
  cursor: pointer;

  &.warm {
    background: $accent-color;
    border: 0.4rem outset $accent-color;
    color: #000000;
  }

  &.cold {
    background: $green-color;
    border: 0.4rem outset $green-color;
    color: #000000;
  }
  &:hover {
    filter: brightness(115%);
  }

  &.warm:active {
    border: 0.4rem inset $accent-color;
  }

  &.cold:active {
    border: 0.4rem inset $green-color;
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    filter: brightness(80%);
  }
}
