.WeatherSection {
  background: #66bfbf;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: var(--bigger-font-size);
}

.WeatherSection ul {
  list-style-type: none;
  padding: 0;
  /* padding-left: 1.5rem; */
}

.WeatherSection li {
  text-align: center;
}

.WeatherSection li::first-letter {
  text-transform: capitalize;
}

/* .WeatherSection i {
  padding-right: 1.5rem;
} */

.WeatherSection .temperature {
  font-size: 2rem;
}

/* @media (max-width: 500px) {
  .WeatherSection i {
    padding-right: 0;
    margin: 0 auto;
  }

  .WeatherSection ul {
    margin: 0 auto;
    padding-left: 0;
  }
} */
