@import "../variables";

.WeatherSection {
  background: #66bfbf;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: $bigger-font-size;

  ul {
    list-style-type: none;
    padding: 0;
    li {
      text-align: center;
    }

    li::first-letter {
      text-transform: capitalize;
    }
    .temperature {
      font-size: 2rem;
    }
  }
}
