@import "../variables";

.CitySection {
  background: $light-color;
  text-align: center;

  h1 {
    font-size: 26pt;
    margin: 0.6rem 0;
  }

  .inputContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .button {
      margin: 0 0.5rem;
    }
  }

  p {
    margin: 0.5rem;
  }
}

@media (max-width: 541px) {
  .CitySection .inputContainer .button {
    margin: 0.5rem;
  }
}