.Temperature {
  font-size: 1.2rem;
  position: relative;
  top: -0.5rem;
  left: -0.8rem;
}

.Temperature button {
  background-color: var(--accent-color);
  border: 0.2rem outset var(--accent-color);
  border-radius: 0.4em;
}

.Temperature .clicked {
  border: 0.2rem inset var(--accent-color);
}
