.WeatherSection {
  grid-area: weather;
  background: #66bfbf;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 2fr));
  font-size: var(--bigger-font-size);
}

.WeatherSection ul {
  list-style-type: none;
  padding-right: 1.5rem;
  justify-self: end;
  align-self: center;
}

.WeatherSection li {
  text-align: center;
}

.WeatherSection li::first-letter {
  text-transform: capitalize;
}

.WeatherSection .temperature {
  font-size: 2rem;
}

.WeatherSection i {
  justify-self: start;
  align-self: center;
  padding-left: 1.5rem;
}

@media (max-width: 500px) {
  .WeatherSection i {
    padding-left: 0;
    margin: 0 auto;
  }

  .WeatherSection ul {
    margin: 0 auto;
    padding: 1rem 1rem;
  }
}
